---
title: Geschichten
subtitle: Príbehy a poďakovania.
description: Príbehy žiakov a študentov v hmotnej núdzi.
permalink: /de/geschichten/
layout: default
published: true
group: stories
lang: de
language: Deutsch
og-locale: de_DE
og-image: davat-je-viac-ilustracia-siroka.png
order: 6
---
<main class="bd-masthead py-5" role="main">
  <div class="container">

    <div class="row">
      <div class="col-12">
        <h1 class="mb-3">{{ page.title }}</h1>
        <p class="lead">{{ page.subtitle }}</p>
      </div>
    </div>

  </div>
</main>

<div class="bg-200">
  <div class="container pb-5">

    {% for i in site.pribehy %}
    {% if i.title and i.lang == page.lang and i.published != false %}
    <div class="row story pt-5">
      <div class="col-md-8">
        <div class="custom-section">
          <img alt="{{ i.title }}" class="rounded-circle pb-2" src="{{ site.baseurl }}/img/{{ i.image }}" />
          <h2>{{ i.title }}</h2>
          <p class="lead">{{ i.description }}</p>
          {{ i.content | markdownify }}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}

  </div>
</div>

