/**
 * Custom styles
 */

// Footer
footer {
  color: $headings-color;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}
.custom-address {
  margin-bottom: 20px;
}
.social {
  float: none;
  text-align: center;
  margin: 20px 0 10px;
  > li {
    width: 30px;
    height: 30px;
    float: none;
    display: inline;
    margin-right: 6px;
  }
  > li > a {
    padding: 0;
    display: inline-block;
  }
  @media (min-width: $screen-md-min) {
    float: left;
    text-align: left;
    margin: 0;
  }
}
// Home page
.custom-masthead {
  padding: 80px 0 40px;
  text-align: center;
}
.custom-masthead .lead {
  font-size: 30px;
  font-weight: inherit;
  max-width: 13em;
  text-shadow: 0 0 2px $body-bg;
  margin: 0 auto 30px;
}
.custom-header {
  font-size: 20px;
  padding: 30px 0;
  margin-bottom: 40px;
  text-align: center;
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}
.custom-header,
.custom-masthead {
  background-image: url("/img/davat-je-viac-ilustracia-siroka.svg");
  background-size: 100% auto;
  color: $brand-primary;
  position: relative;
}
.custom-header h1,
.custom-header p {
  @media (min-width: $screen-md-min) {
    max-width: 20em;
  }
}
.custom-header h1 {
  line-height: 1;
  color: $brand-primary;
  margin-top: 30px;
  
  @media (min-width: $screen-sm-min) {
    font-size: 60px;
  }
}
.custom-header p {
  line-height: 1.4;
  margin-bottom: 0;
}
.custom-featurette {
  color: $text-color;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 40px;
  text-align: center;
}
.custom-featurette h3 {
  color: $text-color;
  font-weight: 400;
  margin-bottom: 5px;
}
.custom-featurette-title {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}
.custom-featurette .img-responsive {
  margin-top: 0;
  width: 100px;
}
.half-rule {
  margin: 60px auto;
  width: 100px;
}
.custom-num-lg {
  font-size: 108px;
  font-weight: 300;
  height: 144px;
  line-height: 140px;
  width: 144px;
  color: $headings-color;
}
.custom-section {
  margin-bottom: 60px;
}
.vertical-indent {
  margin-bottom: 60px;
}
.snv {
  float: right;
  z-index: 1001;
  .trigger {
    overflow: hidden;
  }
  .mic {
    display: none;
  }
  .pgl {
    /*Add padding to your links. This way, the user doesn’t have to hover over the exact point of the text.*/
    padding: 1.25em .5em;
    display: block;
    float: left;
    &:visited {
      color: $brand-primary;
    }
    &:hover,
    &:focus {
      color: $brand-primary-dark;
    }
    -moz-user-select: none;
    text-decoration: none;
  }
  .pgl.active {
    color: $brand-primary-dark;
  }
  @include media-query($container-sm) {
    position: absolute;
    top: 9px;
    right: 30px;
    background-color: $body-bg;
    border: 1px solid $body-bg-dark;
    border-radius: 5px;
    text-align: right;
    .mic {
      display: block;
      float: right;
      width: 36px;
      height: 34px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;
      > svg {
        width: 18px;
        height: 15px;
        path {
          fill: $brand-primary;
        }
      }
    }
    .trigger {
      clear: both;
      display: none;
    }
    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }
    .pgl {
      padding: .5em;
      display: block;
      float: none;
    }
  }
}
.snvf{
	  .pgl {
	    padding: .25em;
	    display: block;
	  }
  .pgl.active {
    color: $brand-primary-dark;
  }
  @media (min-width: $screen-md-min) {
	  .pgl {
	    padding: 0;
	  }
  }
}
.alert {
  line-height: 2em;
  padding: 3px;
}
.download-link {
  img {
    margin: -6px 2px 0 0;
  }
}
.profile.custom-section {
  margin-bottom: 100px;
  @media (min-width: $screen-lg-min) {
    h2 {
      margin-top: 11px;
    }
  }
}
// Icons
.icon-euro:before {
  content: "\e902";
}
.icon-viac:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-googleplus:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-ziak:before {
  content: "\e909";
}
.icon-euro,
.icon-viac,
.icon-ziak {
  font-size: 100px;
  color: $headings-color;
}
.icon-facebook,
.icon-googleplus,
.icon-twitter {
  font-size: 30px;
}
.icon-download {
  font-size: 24px;
  vertical-align: sub;
}
// Story
.story img {
	max-width: 164px;
}
// Form
textarea.form-control {
	height: 6em;
	@media (min-width: $screen-md-min) {
		height: 4em;
	}
}
form .row{
	padding: .5em 0;
}

	