/**
 * Custom styles
 */

// Footer
footer {
  color: $headings-color;
  padding-bottom: 50px;
  padding-top: 50px;
  text-align: center;
  @media (min-width: $screen-md-min) {
    text-align: left;
  }
}
.custom-address {
  margin-bottom: 20px;
}
.social {
  float: none;
  text-align: center;
  margin: 20px 0 10px;
  > li {
    width: 30px;
    height: 30px;
    float: none;
    display: inline;
    margin-right: 6px;
  }
  > li > a {
    padding: 0;
    display: inline-block;
  }
  @media (min-width: $screen-md-min) {
    float: left;
    text-align: left;
    margin: 0;
  }
}
// Home page
.custom-num-lg {
  font-size: 108px;
  font-weight: 300;
  height: 144px;
  line-height: 140px;
  width: 144px;
  color: $headings-color;
}
.custom-section {
  margin-bottom: 60px;
}
.vertical-indent {
  margin-bottom: 60px;
}

.snvf{
	  .pgl {
	    padding: .25em;
	    display: block;
	  }
  .pgl.active {
    color: $brand-primary-dark;
  }
  @media (min-width: $screen-md-min) {
	  .pgl {
	    padding: 0;
	  }
  }
}
.alert {
  line-height: 2em;
  padding: 3px;
}
.download-link {
  img {
    margin: -6px 2px 0 0;
  }
}
.profile.custom-section {
  margin-bottom: 100px;
  @media (min-width: $screen-lg-min) {
    h2 {
      margin-top: 11px;
    }
  }
}
// Icons
.icon-euro:before {
  content: "\e902";
}
.icon-viac:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e901";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-googleplus:before {
  content: "\e904";
}
.icon-twitter:before {
  content: "\e907";
}
.icon-ziak:before {
  content: "\e909";
}
.icon-euro,
.icon-viac,
.icon-ziak {
  font-size: 100px;
  color: $headings-color;
}
.icon-facebook,
.icon-googleplus,
.icon-twitter {
  font-size: 30px;
}
.icon-download {
  font-size: 24px;
  vertical-align: sub;
}
// Story
.story img {
	max-width: 164px;
}
// Form
textarea.form-control {
	height: 6em;
	@media (min-width: $screen-md-min) {
		height: 4em;
	}
}
form .row{
	padding: .5em 0;
}

	