---
layout: compress
---
<!doctype html>
{% if page.group == "index" or page.group == "profiles" or page.group == "profiles-helped" or page.group == "stories" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/WebPage">
{% elsif page.group == "contact" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/ContactPage">
{% elsif page.group == "about" %}
  <html lang="{{ page.lang }}" itemscope itemtype="http://schema.org/AboutPage">
{% else %}
  <html lang="{{ page.lang }}">
{% endif %}
{% include head.html %}

{% comment %} Add dev class while development {% endcomment %}
{% assign page_class = "" %}

{% if site.development == true %}
  {% assign page_class = "dev" %}
{% endif %}

{% comment %} Add page.group class {% endcomment %}
{% if page.group %}
  {% if page_class == "" %}
    {% assign page_class = page.group %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.group %}
  {% endif %}
{% endif %}

{% comment %} Add page.class {% endcomment %}
{% if page.class %}
  {% if page_class == "" %}
    {% assign page_class = page.class %}
  {% else %}
    {% assign page_class = page_class | append: " " | append: page.class %}
  {% endif %}
{% endif %}

{% comment %} Add background-image class {% endcomment %}
{% if page.group == "index" or page.group == "about" or page.group == "how" or page.group == "profiles" or page.group == "profiles-helped" or page.group == "stories" or page.group == "contact" %}
  {% if page_class == "" %}
    {% assign page_class = "bgi" %}
  {% else %}
    {% assign page_class = page_class | append: " bgi" %}
  {% endif %}
{% endif %}

{% comment %} Add header background-image class {% endcomment %}
{% if page.group == "thanks" %}
  {% if page_class == "" %}
    {% assign page_class = "hbgi" %}
  {% else %}
    {% assign page_class = page_class | append: " hbgi" %}
  {% endif %}
{% endif %}


<!-- Body -->
{% if page_class != "" %}
  <body class="{{ page_class }}">
{% else %}
  <body>
{% endif %}

<!-- SVG Icons -->
<svg id="icon-sprite">

  <symbol id="xxicon-euro" viewbox="0 0 102 102">
    <path fill="#ced4da" d="M66.5 37.2c-0.6 1.8-2.5 2.8-4.3 2.3 -3.2-1-9.9-3.1-13.9-0.2 -1.6 1.2-2.8 3.2-3.4 6.1h12.5c1.6 0 2.8 1.3 2.8 2.8 0 1.6-1.3 2.8-2.8 2.8H44.2c0 0.4 0 0.8 0 1.2 0 0.5 0 0.9 0 1.3h11.4c1.6 0 2.8 1.3 2.8 2.8 0 1.6-1.3 2.8-2.8 2.8H44.9c0.7 2.8 1.9 4.8 3.5 6 4.2 3.1 11.2 0.9 13.5 0.2 1.8-0.6 3.7 0.4 4.3 2.3 0.6 1.8-0.4 3.7-2.3 4.3 -1.8 0.6-5.5 1.7-9.7 1.7 -3.3 0-6.8-0.7-9.8-3 -3.3-2.5-5.5-6.4-6.5-11.6h-3.7c-1.6 0-2.8-1.3-2.8-2.8 0-1.6 1.3-2.8 2.8-2.8h3.1c0-0.4 0-0.8 0-1.3 0-0.4 0-0.8 0-1.2h-3.1c-1.6 0-2.8-1.3-2.8-2.8 0-1.6 1.3-2.8 2.8-2.8h3.6c0.9-5.3 3.1-9.2 6.4-11.6 6.7-4.9 15.7-2.1 20-0.8C66 33.5 67 35.4 66.5 37.2zM50.1 1C26.5 1.8 7.8 13 2.8 37.2c-8.1 38.7 12.3 69.2 47.8 63 13.9-2.4 46.7-3.5 50.2-40C104 25.8 79.5 0.1 50.1 1z"></path>
  </symbol>

  <symbol id="icon-euro" viewbox="0 0 102 102">
    <path fill="none" stroke="#6C757D" stroke-width="2" stroke-miterlimit="10" d="M66.5 37.2c-0.6 1.8-2.5 2.8-4.3 2.3 -3.2-1-9.9-3.1-13.9-0.2 -1.6 1.2-2.8 3.2-3.4 6.1h12.5c1.6 0 2.8 1.3 2.8 2.8 0 1.6-1.3 2.8-2.8 2.8H44.2c0 0.4 0 0.8 0 1.2 0 0.5 0 0.9 0 1.3h11.4c1.6 0 2.8 1.3 2.8 2.8 0 1.6-1.3 2.8-2.8 2.8H44.9c0.7 2.8 1.9 4.8 3.5 6 4.2 3.1 11.2 0.9 13.5 0.2 1.8-0.6 3.7 0.4 4.3 2.3 0.6 1.8-0.4 3.7-2.3 4.3 -1.8 0.6-5.5 1.7-9.7 1.7 -3.3 0-6.8-0.7-9.8-3 -3.3-2.5-5.5-6.4-6.5-11.6h-3.7c-1.6 0-2.8-1.3-2.8-2.8 0-1.6 1.3-2.8 2.8-2.8h3.1c0-0.4 0-0.8 0-1.3 0-0.4 0-0.8 0-1.2h-3.1c-1.6 0-2.8-1.3-2.8-2.8 0-1.6 1.3-2.8 2.8-2.8h3.6c0.9-5.3 3.1-9.2 6.4-11.6 6.7-4.9 15.7-2.1 20-0.8C66 33.5 67 35.4 66.5 37.2zM50.1 1C26.5 1.8 7.8 13 2.8 37.2c-8.1 38.7 12.3 69.2 47.8 63 13.9-2.4 46.7-3.5 50.2-40C104 25.8 79.5 0.1 50.1 1z"></path>
  </symbol>

  <symbol id="xxicon-student" viewbox="0 0 102 102">
    <path fill="#ced4da" d="M75.3 63.2c-0.2 0.5-6.5 12.6-24.3 12.6 -17.8 0-24.1-12.1-24.3-12.6 -1-1.9-0.2-4.3 1.7-5.2 1.9-1 4.3-0.2 5.2 1.7 0.2 0.4 4.6 8.3 17.3 8.3 12.8 0 17.2-7.9 17.4-8.3 1-1.9 3.4-2.6 5.2-1.7C75.5 58.9 76.3 61.3 75.3 63.2zM38 31.5c4.3 0 7.8 4.1 7.8 9.1 0 5-3.5 9.1-7.8 9.1 -4.3 0-7.8-4.1-7.8-9.1C30.2 35.5 33.7 31.5 38 31.5zM64 31.5c4.3 0 7.8 4.1 7.8 9.1 0 5-3.5 9.1-7.8 9.1 -4.3 0-7.8-4.1-7.8-9.1C56.2 35.6 59.7 31.5 64 31.5zM50.1 1C26.5 1.8 7.8 13 2.8 37.2c-8.1 38.8 12.3 69.2 47.8 63 13.8-2.4 46.7-3.5 50.2-40C104 25.8 79.5 0.1 50.1 1z"></path>
  </symbol>

  <symbol id="icon-student" viewbox="0 0 102 102">
    <path fill="none" stroke="#6C757D" stroke-width="2" stroke-miterlimit="10" d="M75.3 63.2c-0.2 0.5-6.5 12.6-24.3 12.6 -17.8 0-24.1-12.1-24.3-12.6 -1-1.9-0.2-4.3 1.7-5.2 1.9-1 4.3-0.2 5.2 1.7 0.2 0.4 4.6 8.3 17.3 8.3 12.8 0 17.2-7.9 17.4-8.3 1-1.9 3.4-2.6 5.2-1.7C75.5 58.9 76.3 61.3 75.3 63.2zM38 31.5c4.3 0 7.8 4.1 7.8 9.1 0 5-3.5 9.1-7.8 9.1s-7.8-4.1-7.8-9.1C30.2 35.5 33.7 31.5 38 31.5zM64 31.5c4.3 0 7.8 4.1 7.8 9.1 0 5-3.5 9.1-7.8 9.1 -4.3 0-7.8-4.1-7.8-9.1C56.2 35.6 59.7 31.5 64 31.5zM50.1 1C26.5 1.8 7.8 13 2.8 37.2c-8.1 38.8 12.3 69.2 47.8 63 13.8-2.4 46.7-3.5 50.2-40C104 25.8 79.5 0.1 50.1 1z"></path>
  </symbol>

  <symbol id="xxicon-transparent" viewbox="0 0 102 102">
    <path fill="#B5E3DC" d="M50 1C26.3 1.7 7.8 12.9 2.8 37.2c-8.1 38.7 12.2 69 47.9 63 13.8-2.5 46.6-3.4 50.1-39.9C103.9 25.7 79.5 0.1 50 1z"></path>
  </symbol>

  <symbol id="icon-transparent" viewbox="0 0 102 102">
    <path fill="none" stroke="#6C757D" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" stroke-dasharray="2,4" d="M50 1C26.3 1.7 7.8 12.9 2.8 37.2c-8.1 38.7 12.2 69 47.9 63 13.8-2.5 46.6-3.4 50.1-39.9C103.9 25.7 79.5 0.1 50 1z"/>
  </symbol>

</svg>

{% include header.html %}
{{ content | strip }}
{% include footer.html %}

<!-- Decode all emails and set contact form action -->
  <script type="text/javascript">/* <![CDATA[ */ try{function d(n,t){for(var u="",r=0,i="",r=0;r<n.length;r+=1)i=n.charCodeAt(r),u+=i>=65&&i<=90?String.fromCharCode((i-65+t)%26+65):i>=97&&i<=122?String.fromCharCode((i-97+t)%26+97):n.charAt(r);return u}setTimeout(function(){var r=document.getElementsByClassName("cf"),o,s=20,f,t=document.getElementsByTagName("a"),n,i,u,e;if(r)for(n=0;n<r.length;n+=1)f=r[n].getAttribute("data-email"),f&&(o=d(f,s),r[n].setAttribute("action","https://formspree.io/"+o));for(n=0;n<t.length;n+=1)i=t[n].getAttribute("href"),i&&i.substring(0,7)==="mailto:"&&(u=i.substring(7,i.length),u&&(e=d(u,20),t[n].href="mailto:"+e,t[n].innerHTML===u&&(t[n].innerHTML=e),t[n].style.display="inline-block"))},500)}catch(ignore){}; /* ]]> */ </script>

<!-- Google Analytics -->
{% if site.development == false and site.google_analytics_tracking_id and site.google_analytics_tracking_id != "" %}
  {% include google-analytics.html %}
{% endif %}

</body>
</html>
