---
layout: compress
---
<!DOCTYPE html>
{% if page.type == "index" %}
<html lang="{{ site.lang }}" itemtype="http://schema.org/WebPage" itemscope="">
{% elsif page.type == "contact" %}
<html lang="{{ site.lang }}" itemtype="http://schema.org/ContactPage" itemscope="">
{% elsif page.type == "about" %}
<html lang="{{ site.lang }}" itemtype="http://schema.org/AboutPage" itemscope="">
{% else %}
<html lang="{{ site.lang }}">
{% endif %}
  {% include head.html %}
  {% if page.group %}
    <body class="{{ page.group }}">
  {% else %}
    <body>
  {% endif %}
  {% include header.html %}
  {{ content }}
  {% include footer.html %}
  </body>

</html>
