---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-type">
    <meta content="default-src 'none'; style-src 'unsafe-inline'; img-src data:; connect-src 'self'" http-equiv="Content-Security-Policy">
    <title>{{ page.title }}</title>
    {% capture error %}
    {% include error.scss %}
    {% endcapture %}
    <style>
      {{ error | scssify }}
    </style>
  </head>
  <body>
    <div class="container">
      {{ content }}
      <br><br>
      <a href="{{ site.url }}{{ site.baseurl }}">Choďte na domovskú stránku →</a><br>
      <a class="logo" href="/">
      <img width="32" height="32" alt="{{ site.title }}" src='data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAeBJREFUeNrsV8tRwzAQlTMpICWEDtxBTAVJTlydoQDbFYAriCmAiThywiWYDkQFuAPcAezOrI1i9PUncGBndqSxPvu02n1aMzZSbp/5asz6wMPQDpoNaAgaaaZVoK+g/PEmrkcDoNOloAmo70kRTAZAxCAAYDyG5jjAcF8KAJF5AQDjJ2hiNp2gF64BSGMFMINxI4iFwu1zGGcUvCetByjg3ie4c5tgYBYqD6QXMI5yJ3OHDCBhl5E2tb8BEMnYTo/BcyAVmiDb03hj2Svpe2DjgHwPd4cMx8mQarw0jJ95gQ7dAQht1mHjSurXxHQd68nUK881yNYLgOYuVX2ftOwAWDcAl6VSP+qBDunbj7k2AAEt+HREzSnAYgXohsZXrmQGVxUsPd0Wu6aXqyzYL8s/gKVUvUSOVQ6TmDCU2iEVUwdAGACUoA82coFMWtMeyKou1C7kNMQFL7pUURgLaUxYeONoAIDFSSXXAx8a1Dnl+NbgJUGKFXHZVj0GfqlhzlW/ILnHt3qi2CrpMJHhYSv7WVA4PKOusjMY563xMwDktsPMWYfXlGl5gJDlMxnnqqo4GBjBvvme69LY9GcUEYghtUJbsDzZ+MP6c0oc0abgWnNCdOtbm46uP6Z/Qr4EGABKna04kpgvmAAAAABJRU5ErkJggg=='/>
      </a>
    </div>
  </body>
</html>
